
/* Style the side navigation */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #158b3d;
  }

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    overflow-wrap: break-word;
  }
  
  
  /* Style the content */
  .content {
    margin-left: 200px;
    padding-left: 20px;
  }

  div h1 {
    color: white;
  }

  div h2 {
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  div label {
    color: white;
  }

  .table-slots button {
    margin: 5px;
    font-size:  32px;
    width: 48px;
    color: white;
  }

  #fourth-row button {
    width: 150px;
    
  }

  #zero-btn button {
    width: 150px;
    background-color: #158b3d;
  }

  #slot-37 {
    background-color: #158b3d;
  }

  #slot-40 {
    background-color: #158b3d;
  }

 .black {
   background-color: black;
   
 }

 .red {
   background-color: red;
   
 }

 .table-view {
   float: left;
  background-color: grey; 
  height: 200px;
  width: 650px;
 }

 .table-square-red {
  float: left;
  background-color: red;
  height: 50px;
  width: 50px;
 }

 .table-square-black {
  float: left;
  background-color: black;
  height: 50px;
  width: 50px;
 }

 .table-square-green {
  float: left;
  background-color: #062d03;
  height: 200px;
  width: 50px; 
 }

 .table-square-bottom {
  float: left;
  background-color: #062d03;
  height: 50px;
  width: 150px;
  border: #111;
  border-style: double;
 }

 .radio_group_labels {
   display: inline-block;
   width: 50px;
 }

 .spin-wheel-container {
   float: none;
   padding: 250px;
 }

 #spin-wheel {
    width: 200px;
    height: 200px;
    text-decoration: solid;
    font-size: large;
    font-weight: bold;
 }

 #spin-wheel:hover {
   background-color: red;
 }

 #spin-wheel:active{
   background-color: #062d03;
 }

 #spin-result {
   font-size: 5em;
   margin-left: 20px;
   text-align: center;
 }

 #spin-deposit {
  font-size: 5em;
  margin-left: 50px;
  text-align: center;
 }